<li class="tab-pane {{activeClass}}" id="{{id}}" data-model-id="{{id}}">
  <div class="row">
    <div class="col-md-3">
      <ul class='nav nav-pills nav-stacked layers-list'></ul>
    </div>
    <div class="col-md-9">
      <div class="canvas-container">
        <div class="wrapper" style='width:{{width}}px;height:{{height}}px;'>
          <div class="grid" style='background-size:{{tileSizeX2}}px {{tileSizeX2}}px;background-position: 0 0, {{tileSize}}px {{tileSize}}px;'></div>
        </div>
      </div>
    </div>
  </div>
</li>
